.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  gap: 2rem;
  justify-content: center;
}

.team-member {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 165px; /* Stała wysokość zamiast min-height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 87, 34, 0.1);
}

/* Centrowanie ostatniego elementu, gdy jest nieparzysty */
.team-member:last-child:nth-child(3n+1) {
  grid-column: 2;
}

section#team h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

/* Dodatkowe style */
.team-member h3 {
  margin-top: 0;
  color: var(--accent);
}

.team-member p {
  opacity: 0.8;
  margin: 0; /* Usunięcie domyślnych marginesów dla paragrafów */
}

@media (max-width: 992px) {
  .team-grid {
    grid-template-columns: repeat(2, 280px);
  }
  
  .team-member:last-child:nth-child(2n+1) {
    grid-column: 1 / span 2;
    justify-self: center;  /* Lepsze centrowanie */
    width: 280px;          /* Dokładna szerokość */
  }
}

@media (max-width: 650px) {
  .team-grid {
    grid-template-columns: 280px;
  }
  
  .team-member:last-child:nth-child(2n+1) {
    grid-column: 1;
  }
}